# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/
/build

# Environment files
.env
.env*.local

# Database
prisma/*.db
prisma/*.db-journal

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
